h1 {
     margin: auto;
     text-align: center;
}
#div1 {
    border: 3px solid black;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background: red;
}
#div2 {
    border: 3px solid black;
    width: 250px;
    height: 250px;
    margin: 75px auto;
    background: blue;
}
#div3 {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    margin: 75px auto;
    background: white;
}
